body {
  background: #222;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.game-area {
  display: grid;
  grid-gap: 10px;
  margin: 100px auto;
  max-width: 512px;
}

.message-area {
  font-size: 1.5em;
  height: 3em;
  text-align: center;
}

.game-board {
  // If you put padding on this element it may break the JS
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 512px;
  margin: 0 auto;
  user-select: none;
  width: 512px;
}

.tile-click-area {
  padding: 3px;

  &:hover .tile {
    border: 1px solid #fff;
  }

  &.initial .tile::after {
    background: #222;
    border-radius: 100%;
    content: ' ';
    display: block;
    height: 30%;
    margin: 35%;
    opacity: .3;
    width: 30%;
  }

  .tile {
    background: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;
  }

  &.z .tile {
    background-color: #c34516;
  }

  &.o .tile {
    background-color: #3cbae9;
  }
}
